html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@font-face {
    font-family: 'Gang of Three';
    src: url('./Assets/Fonts/go3v2.ttf');
}
/* --- HEADER Component */
.app-header {
  background-color: #142b48;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 1.5em;
  font-family: 'Gang of Three';
  color: white;
}

.app-logo {
  width: 80px;
  height: 80px;
}

/*  --FOOTER Component */
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  display: flex;
  align-items: center;
  background-color: #142b48;
  height: 5vh;
  padding: 5px;
  color: white;
  font-size: 0.7em;
  text-decoration: none;

}

.footer-left {
  flex: 50%;
  display: flex;
}

.footer-credits {
  flex: 50%;
  display: flex;
  align-items: center;
}

.footer-credits img {
  width: 20px;
  height: 20px;

}

.footer-credits a {
  text-decoration: none;
  color: white;
}
