html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@font-face {
    font-family: 'Gang of Three';
    src: url('./Assets/Fonts/go3v2.ttf');
}
/*  --LOADING Component*/
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #142b48;
  height: 100vh;
  color: #B6072C;
  text-align: center;
  font-family: 'Gang of Three';
  font-size: 2em;
}
/*Source for spinner: https://github.com/tobiasahlin/SpinKit/blob/master/css/spinners/2-double-bounce.css  */
.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto;
}
.sk-double-bounce .sk-child {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #B6072C;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
          animation: sk-doubleBounce 2s infinite ease-in-out;
}
  .sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
  }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* --ERROR Component */
.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #142b48;
  color: #B6072C;
  font-family: 'Lato', sans-serif;
  font-size: bolder;
  padding: 2vh;
}

/* --- HEADER Component */
.app-header {
  background-color: #142b48;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 1.5em;
  font-family: 'Gang of Three';
  color: white;
}

.app-logo {
  width: 80px;
  height: 80px;
}

/* Hamburger menu: source: https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css */
.hamburger {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.5;}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
/* --Marker */
/* **************** MARKER *********************** */
.marker {
  /* backface-visibility: hidden; */
  perspective: 1000px;
  height: 40px;
  width: 40px;
  background-image: url('./Assets/marker_black.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.marker.bounce {
  height: 40px;
  width: 40px;
  background-image: url('./Assets/marker_red.svg');
  background-repeat: no-repeat;
  animation: bounce 0.5s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translateY(5px);
  }
  to   { transform: translateY(15px);
  }
}
/* --SideBar--*/
.sidebar {
  display: block;
  position: absolute;
  height: 85vh;
  width: 20vw;
  background-color: #142b48;
  padding-left: 0px;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 0;
  transition: all 0.5s ease;
  z-index: 100;
  overflow-y:scroll;
  color: white;

}

ul.district-restaurants {
  list-style-type: none;
  padding-left: 0px;
}

li {
  padding-left: 0px;
  border: 1px solid #142b48;
}
.location:hover,
.location:active {
  background-color: white;
  color: #142b48;
  width: auto;
}
/*  --FOOTER Component */
.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  display: flex;
  align-items: center;
  background-color: #142b48;
  height: 5vh;
  padding: 5px;
  color: white;
  font-size: 0.7em;
  text-decoration: none;

}

.footer-left {
  flex: 50%;
  display: flex;
}

.footer-credits {
  flex: 50%;
  display: flex;
  align-items: center;
}

.footer-credits img {
  width: 20px;
  height: 20px;

}

.footer-credits a {
  text-decoration: none;
  color: white;
}


/* InfoWindow */
.infoWindow {
  background-color: white;
  border: 3px solid  #142b48;
  border-radius: 3px;
  color: black;
  width: 200px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.close-infoWindow {
  color: #B6072C;
  font-size: 1.5rem;
  width:15px;
  height: 15px;
  position: relative;
  top: 5px;
  left: 170px;
}
.zomato-link {
  background-color: #142b48;
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 3px;
}

.zomato-link a {
  text-decoration: none;
  color: white;
}
